@font-face {
  font-family: 'neoservers';
  src:  url('../fonts/neoservers.eot?vgs6rb');
  src:  url('../fonts/neoservers.eot?vgs6rb#iefix') format('embedded-opentype'),
    url('../fonts/neoservers.ttf?vgs6rb') format('truetype'),
    url('../fonts/neoservers.woff?vgs6rb') format('woff'),
    url('../fonts/neoservers.svg?vgs6rb#neoservers') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'neoservers' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1px;
  margin-right: 10px;
  font-size: 18px;
  vertical-align: middle;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-stop:before {
  content: "\e900";
   }
.icon-repeat:before {
  content: "\e901";
}
.icon-plugins:before {
  content: "\e902";
}
.icon-console:before {
  content: "\e903";
}
.icon-wallet:before {
  content: "\e904";
}
.icon-user:before {
  content: "\e905";
}
.icon-up-small:before {
  content: "\e906";
}
.icon-upload:before {
  content: "\e907";
}
.icon-time:before {
  content: "\e908";
}
.icon-support:before {
  content: "\e909";
}
.icon-settings:before {
  content: "\e90a";
}
.icon-servers:before {
  content: "\e90b";
}
.icon-right-small:before {
  content: "\e90c";
}
.icon-restart:before {
  content: "\e90d";
}
.icon-plus:before {
  content: "\e90e";
}
.icon-news:before {
  content: "\e90f";
}
.icon-newfolder:before {
  content: "\e910";
}
.icon-minus:before {
  content: "\e911";
}
.icon-mail:before {
  content: "\e912";
}
.icon-lock:before {
  content: "\e913";
}
.icon-left-small:before {
  content: "\e914";
}
.icon-ip:before {
  content: "\e915";
}
.icon-help:before {
  content: "\e916";
}
.icon-flag:before {
  content: "\e917";
}
.icon-files:before {
  content: "\e918";
}
.icon-file:before {
  content: "\e919";
}
.icon-dropdown:before {
  content: "\e91a";
}
.icon-config:before {
  content: "\e91b";
}
.icon-close:before {
  content: "\e91c";
}
.icon-check:before {
  content: "\e91d";
}
.icon-calendar:before {
  content: "\e91e";
}
.icon-billing:before {
  content: "\e91f";
}
.icon-back:before {
  content: "\e920";
}
.support-number {
    background: #fc8408;
    padding: 2px 6px;
    border-radius: 100px;
    margin-left: 5px;
    color: #fff;
}
.panel-game {
    height: 200px;
    line-height: 200px;
}
.panel-logo img {
width: 100%    
}
.panel-logo {
    background: #505050;
    border-radius: 7px 0 0 7px;
}
.panel-logo:hover {
    background: #007ffc;
}
#ordergame .panel-text1 {
    padding: 25px 0 0 30px;
}
.green-text {
    color: greenyellow;
}
.panel-text1 p {
    font-size: 14px;
    color: #505050;
    font-weight: bold;
    padding-top: 0;
    text-align: left;
    line-height: 1;
}
.panel-text1 h3 {
    color: #758792;
    margin: 0 0 17px 0;
    text-transform: none;
    font-size: 14px;
    font-weight: bold;
    padding-top: 0;
    text-align: left;
    line-height: 1;
}
#ordergame .panel-price {
    text-align: right;
    padding-right: 30px;
    padding-top: 15px;
}
#ordergame .panel-price a {
    color: #ffffff;
    font-weight: bold;
    transition: 0.3s;
    background-color: #FD8408;
    display: block;
    box-shadow: 0px 2px 13px #FD8408;
    border-radius: 50px;
    max-width: 160px;
    max-height: 35px;
    padding: 8px 0;
    line-height: 1;
    text-align: center;
    float: right;
    width: 100%;
    margin-top: 25px;
}
#ordergame .panel-price h6{
    font-size: 16px;
    font-weight: bold;
    color: #4c4c4c;
    margin-top: 30px;
}
#ordergame .panel-price h4{
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    margin: 0;
}
#ordergame .panel-price h5 {
    font-size: 12px;
    text-transform: lowercase;
    margin: 0;
}

#ordergame .gamepanel a.second.btn2 {
    color: #ffffff;
    font-weight: bold;
    transition: 0.3s;
    display: block;
    float: left;
    width: 48%;
    text-transform: uppercase;
    max-width: 270px;
    margin: 60px 10px 250px 0 !important;
    box-shadow: 2px 2px 50px black;
    border-radius: 50px;
    padding: 20px 40px;
    background: #202223;
    border: 2px solid;
    padding: 18px 38px;
    text-align: center
}
#ordergame .gamepanel a.second.btn2.support-btn {
    max-width: 164px;
    float: left;
}
#ordergame .gamepanel a.second.btn2:hover {
    background: #fff;
    color: black;
    border: 2px solid #fff;
}
#ordergame .many-wrapper2 .order-many-btn:hover {
    background: none;
}
#ordergame .many-wrapper2 .order-many-btn a:hover,
.employees-left a:hover {
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
}
#ordergame .many-wrapper2 .order-many-btn a:focus,
#ordergame .many-wrapper2 .order-many-btn a:active,
.employees-left a:focus,
.employees-left a:active {
     color: #FD8408;
    transition: 0.3s;
}
.panel-news-logo {
    height: 350px;
    background: #202223;
    border-radius: 7px;
}
.panel-news-logo-holder {
   height: 198px;
   border-bottom: 1px solid #2B3035;
    float: none;
    text-align: center;
    line-height: 198px;
}
.panel-news-logo-holder img {
    width: 55%;
}

#ordergame .panel-news-logo-text {
    height: 148px;
    text-align: center;
    padding-top: 36px;
}
#ordergame .panel-news-logo-text p{
    font-weight: bold;
    color: #fff;
}
#ordergame .panel-news-right,
#ordergame .panel-employees-right { 
padding-left: 20px
}
#ordergame .panel-news-right h3{
    text-align: center;
    font-size: 18px;
    text-transform: none;
    color: #83949d;
}
#ordergame .panel-news-right p{
    padding: 40px;
    color: #505050;
    font-weight: bold;
}
#ordergame .panel-news-right-btn {
    text-align: center;
}
#ordergame .panel-news-right-btn a.second.btn2 {
    float: none;
    display: inline-block;
}
.employees-left a {
    display: block;
    height: 50px;
    line-height: 50px;
   
    color: #73828a;
    font-weight: bold;
    border-bottom: 1px solid #2B3035;
    padding-left: 25px;
}
.employees-left a:last-child {
    border-bottom: none;
} 
#ordergame .panel-employees-right {
    text-align: center;
}
#ordergame .panel-employees-right .links-btn.newsletter.email{
    height: 50px;
    line-height: 40px;
    margin-bottom: 10px;
}
#ordergame .panel-employees-right .links-btn.newsletter.email input {
    width: 85%;
    background: #202223;
}
#ordergame .panel-employees-right .details-left{
    padding: 20px 10px 30px 20px;
    color: #505050;
}
#ordergame .panel-employees-right .details-right {
     padding: 20px 20px 30px 10px;
    color: #505050;
}
#ordergame .panel-employees-right  small.permission {
    position: absolute;
    top: 0;
    right: 20px;
    color: #5d6b73;
    font-weight: bold;
}
#ordergame .many-wrapper.permission-check{
    padding: 10px 20px 10px 20px;
}
.permission-check h3 {
    margin-left: -22px;
    color: #758792;
    margin-bottom: 10px;
    margin-top: -2px;
    padding-left: 30px;
}
.permission-check .squaredThree {
    width: auto; 
}
.permission-check .squaredThree label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: #202223;
    border-radius: 4px;
    border: 2px solid #758792;
}
.permission-check .squaredThree label:after {
    content: '';
    width: 14px;
    height: 7px;
    position: absolute;
    top: 3px;
    left: 1px;
    border: 2px solid #0081FF;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
#ordergame .billing-left {
    text-align: center;
    padding-top: 20px;
}
#ordergame .billing-left a{
    text-align: left;
    border-top: 1px solid #2b3035;
    font-size: 12px;
} 
#ordergame .billing-left p{
    font-size: 12px;
    font-weight: bold;
    color: #8799a3;
    margin-bottom: 0;
}
#ordergame .billing-left h1 {
    margin-top: 0;
    margin-bottom: 20px
}
#ordergame .billing-left.category {
    padding-top: 0;
}
#ordergame .billing-left.category a {
    border-top: none;
}
.green-text {
    color: #25B855 !important;
}
#ordergame .billing-btn a.second.btn2{
    max-width: 310px;
    float: right;
}
span.icon-help.rejected {
    font-size: 14px;
    margin-left: 10px;
}
.panel-text1.amount h3 {
        font-size: 24px;
    color: #fff;
}
a.arhive {
 color: #4f4f4f;   
}
a.arhive:hover {
 color: #fff;
 transition: 0.3s;
}
a.arhive span{
margin: 0;
font-size: 22px;
}
a.ip-btn {
    width: 85%;
    font-size: 12px;
    display: block;
    font-weight: bold;
    margin-right: 10px;
    box-shadow: 2px 2px 50px black;
    border-radius: 50px;
    background: #202223;
    border: 2px solid;
    padding: 7px 0px;
    text-align: center;
    color: #fff;
}
a.ip-btn:hover {
    background: #fff;
    color: black;
    border: 2px solid #fff;
}
#ordergame .panel-news-right-btn.iplog-last {
    margin-bottom: 150px;
}
#ordergame.support .panel-text1 a {
    color: #758792;
}
#ordergame.support .panel-text1 a:hover {
    color: #FD8408;
}
.server-info p.date-serverinfo {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #505050;
    font-weight: bold;
}
#ordergame .server-info .black-msg{
    padding: 0px 30px 20px 30px;
    background: black;
    box-shadow: none;
}
#ordergame .server-info .black-msg.grey {
    background: #202223;
        box-shadow: 2px 2px 22px black;
}
#ordergame .server-info .black-msg.grey.green {
    border: 3px solid #25b153;
}
.server-info .black-msg h3 {
    color: #758792;
    margin: 20px 0 30px 0;
    text-transform: none;
    font-size: 14px;
    font-weight: bold;
    padding-top: 0;
    text-align: left;
}
.server-info .black-msg p{
    font-size: 14px;
    color: #505050;
    font-weight: bold;
    padding-top: 0;
    text-align: left;
   
} 
.server-info .black-msg small{
    color: #323232;
}
#ordergame .gamepanel a.second.btn2.serverinfo-btn {
    max-width: 164px;
    float: right;
}
a.restart {
    position: absolute;
    top: 0px;
    right: 95px;
    color: #ffc000;
}
a.stop {
    position: absolute;
    top: 0px;
    right: 20px;
    color: #fd8408;
}
.panel-logo.serverinfo {
    height: 100%;
    background: url(../img/games/serverinfo.png);
}
#ordergame .serverinfo-ftp {
    padding-right: 10px;
}
#ordergame .serverinfo-graph {
    padding-left: 10px;
}
.panel-logo.graph img {
    border-radius: 7px;
}
.panel-game.graph,
.panel-game.ftp{
    height: 151px;
}
footer.server-footer {
    margin-top: 80px;
}
#ordergame.support .panel-text1 a.graph-btn,
#ordergame a.panel-setings-btn{
    position: absolute;
    top: 30px;
    right: 20px;
    color: #ffffff;
    font-weight: bold;
    transition: 0.3s;
    background-color: #FD8408;
    display: block;
    /* box-shadow: 0px 2px 13px #FD8408; */
    border-radius: 50px;
    max-width: 160px;
    max-height: 35px;
    padding: 8px 0;
    line-height: 1;
    text-align: center;
    float: right;
    width: 100%;
} 
#ordergame.support .panel-text1 a.graph-btn.btn2{
  background: #202223;
    border: 2px solid #fff;  
}
#ordergame.support .panel-text1 a.graph-btn.btn2:hover,
#ordergame.support .panel-text1 a.graph-btn.btn2.admin:hover{
    background: #fff;
    color: black;
    border: 2px solid #fff;
}
#ordergame .panel-game.server-mods {
    height: auto;
    padding-bottom: 10px;
    padding-right: 25px
}
#ordergame .panel-game.server-mods .panel-text1 h3{
line-height: 2
}
#ordergame.support .panel-text1 a.graph-btn.btn2.admin{
    background: #202223;
    border: 2px solid #fff;
    right: 188px;
    max-height: 31px;
    padding: 7px 0;
}
#ordergame .many-wrapper.permission-check.admin {
    padding: 0;
    box-shadow: none;
    margin-left: -25px;
}
#ordergame .many-wrapper.permission-check.admin label {
    border: none;
}
.permission-check.admin .squaredThree label:after {
    top: 5px;
    width: 17px;
}
#ordergame.support .panel-text1 a.graph-btn.btn2.admin.main{
    right: 0;
    top: 60px;
    height: 58px;
    max-height: 60px;
    line-height: 38px;
    max-width: 300px;
}
#ordergame .panel-game.server-mods.console {
    background: black;
    padding: 20px;
}
.console p{   color: #4A4A4A;
    font-weight: bold;
    text-align: left;
}
.console-btn {
    margin-bottom: 77px;
}
a.root {
    float: left;
    margin-left: 20px;
    color: #6e7c84;
    font-weight: bold;
}
a.root span {
    margin-left: 10px;
}
a.root.second {
    margin-left: 0;
} 
a.upload {
    position: absolute;
    top: 0px;
    right: 145px;
    color: #626f76;
    font-weight: bold;
}
a.newfolder {
    position: absolute;
    top: 0px;
    right: 20px;
    color: #626f76;
    font-weight: bold;
}
a.root:hover,
a.upload:hover,
a.newfolder:hover{
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
}
#ordergame .panel-game.server-mods.console.ftp {
    padding: 0;
}
#ordergame .ftp .panel-text1 {
    padding: 0;
}
#ordergame .panel-game.server-mods.console.ftp .panel-text1 h3{
    height: 61px;
    border-bottom: 1px solid #333333;
    border-right: 1px solid #333333;
    line-height: 61px;
    padding-left: 20px;
    margin-bottom: 0;
}
#ordergame .panel-game.server-mods.console.ftp .panel-text1 .folders{
    height: 25px;
    border-bottom: 1px solid #333333;
    border-right: 1px solid #333333;
    padding: 0;
    line-height: 25px;
    padding-left: 10px;
    text-align: left;
}
#ordergame .panel-game.server-mods.console.ftp .panel-text1 .folders a.folder{
    color: #0081ff;
    font-size: 12px;
    font-weight: bold;
}
#ordergame .panel-game.server-mods.console.ftp .panel-text1 .folders a.folder span{
    margin-right: 5px;
    font-size: 12px;
}
#ordergame .panel-game.server-mods.console.ftp .panel-text1 .folders p{
    font-size: 12px;
    line-height: 25px;
}
#ordergame .panel-game.server-mods.console.ftp .panel-text1 .folders a.folder.last.orange-text {
    width: 50%;
    float: left;
    text-align: center;
}
.files, .files-1, .files-2 {
    display: block;
    float: left;
    width: 100%;
}
.files {
    max-width: 40%;
}
.files-1 {
    max-width: 10%;
}.files-2 {
    max-width: 20%;
}
.col-md-12.many-wrapper.panel-game.server-mods.setings .panel-text1 p {
    text-align: center;
}
.col-md-12.many-wrapper.panel-game.server-mods.setings {
    border: 3px solid #2B2D2E;
}
#ordergame .setings-pading {
    padding-right: 10px;
}
#ordergame .setings-pading2 {
    padding-left: 10px;
}
#ordergame div.setings-li-item{
    width: 20%;
    float: left;
}
#ordergame a.panel-setings-btn {
    position: relative;
}
#ordergame.support .panel-text1 a.graph-btn.autorestart{
    height: 34px;
    right: 170px;
}
#ordergame.support .panel-text1 a.graph-btn.btn2.autorestart {
    right: 0;
}
p.autorestart {
    text-align: right;
}
.modal-body .day p{
    border: 1px solid #272b30;
    border-radius: 20px;
    padding: 12px;
}
.modal-body .day p:hover{
    border: 1px solid white;
    color: #fff;
    transition: 0.3s;
}
.modal-body .day {
      width: 14%;
    float: left;
    padding: 3px;
}
.col-md-12.days-wraper {
    padding: 0;
}
.modal3 .modal-body p.clear {
    clear: both;
}
.border {
    border: 1px solid #fff !important;
    color: #fff !important;
}
